/* Center-align elements with class "opening" and "search" */
.opening, .search {
    text-align: center;
}

/* Style for elements with class "h1" */
.h1 {
    display: block;
    margin: 0 auto; /* Center-align horizontally */
    background-image: url('National-Park-Service-logo.jpg');
    background-size: cover; /* Adjust the background image size as needed */
}
